<section id="experiences">
  <div class="ribbon bottom">Expériences</div>
<div class="exp-action-buttons">
  <button mat-button (click)="accordion.openAll()"><mat-icon style="color: red;">unfold_more_double</mat-icon>Développez tout</button>
  <button mat-button (click)="accordion.closeAll()"><mat-icon  style="color: blue">compress</mat-icon>Réduire tout</button>
</div>
<mat-accordion class="exp-headers-align" multi>
  <mat-expansion-panel  *ngFor="let experience of experiences">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>{{ experience.date }} - {{ experience.lieu }}</span>
      </mat-panel-title>
      <mat-panel-description>
        {{ experience.role }}
        <mat-icon  style="height:40px; width: 40px;"><img [src]="experience.logoUrl" alt="Logo" /></mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="experience.showDetails">
      <p>{{ experience.description }}</p>
      <h6>tâches principales :</h6>
      <ul>
        <li *ngFor="let task of experience.tasks">{{ task }}</li>
      </ul>
      <h6>Environnement technique :</h6>
      <p>{{ experience.technicalEnvironment }}</p>
    </div>

  </mat-expansion-panel>
</mat-accordion>
</section>
    <!--<mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>
  -->