<p>menu works!</p>



<!--<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
      <div class="home p-1 rounded">
          <ul class="navbar-nav">
              <li class="nav-item p-1 rounded">
                  <a class="nav-link smooth-scroll text-uppercase" href="#home"><i class='bx bx-home'></i> Accuel
                  </a>
              </li>
          </ul>
      </div>
      <button class="navbar-toggler nav mb-1">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container ">
          <div style="width: 100%; float: right;" class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav" style=" float: right;">
                  <li class="nav-item p-1 rounded">
                      <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#formations">
                      <i class='bx bx-user'></i>Formations</a>
                  </li>
                  <li class="nav-item p-1 rounded">
                    <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#certificats"> 
                    <i class='bx bx-book-content'></i>Certificats</a>
                </li>
                  <li class="nav-item p-1 rounded">
                      <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#competences">
                      <i class='bx bx-briefcase-alt'></i>Compétences</a>
                  </li>
                  <li class="nav-item p-1 rounded">
                      <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#experiences"> 
                      <i class='bx bx-file-blank'></i>Expériences</a>
                  </li>
    
                  <li class="nav-item p-1 rounded">
                    <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#partners"> 
                    <i class='bx bx-file-blank'></i>Partenaires</a>
                </li>

            -->


                  <!--     abondonned
                  <li class="nav-item p-1 rounded">
                      <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#references"><i
                              class='bx bxs-badge-check'></i> {{'header.references'}}</a>
                  </li>
                
                  <li class="nav-item p-1 rounded">
                      <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#contacts"> <i
                              class='bx bx-envelope'></i>contacts</a>
                  </li>
                  <li class="nav-item p-1 rounded">
                   <mat-radio-group  [(ngModel)]="language" style="margin-top: 5px;"
                          (change)="languageChange($event)" aria-label="Select a language">
                          <mat-radio-button value="en" >
                              English
                          </mat-radio-button>
                          <mat-radio-button value="fr" class="pl-3">
                              Français
                          </mat-radio-button>
                      </mat-radio-group>
                  </li>
                  -->



<!--

              </ul>
          </div>
      </div>
  </nav>
</header>
               glow-on-hover
-->           

<ul class="menu">
    <li><a href="#home">Home</a>
    <li><a href="#formations">Formations</a>
    <li><a href="#certificats">Certificats</a>
    <li><a href="#competences">Compétences</a>
    <li><a href="#experiences">Expériences</a>
    <li><a href="#partners">Partenaires</a>
</ul>