
  <mat-toolbar color="accent">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home"><mat-icon style="color: white;">home</mat-icon>home</button>
      <button mat-menu-item  routerLink="/certificats"><mat-icon style="color: white;">approval</mat-icon>Certificats</button>
      <button mat-menu-item  routerLink="/competences"><mat-icon style="color: white;">build</mat-icon>Compétences</button>
      <button mat-menu-item  routerLink="/formations"><mat-icon style="color: white;">school</mat-icon>Formations</button>
      <button mat-menu-item  routerLink="/experiences"><mat-icon style="color: white;">science</mat-icon>Expériences</button>
      <button mat-menu-item  routerLink="/partners"><mat-icon style="color: white;">handshake</mat-icon>Collaborateurs</button>
    </mat-menu>
           

    
    <a mat-icon-button routerLink="/home">
      <mat-icon style="color: white;">home</mat-icon>
    </a>

    <a mat-icon-button routerLink="/certificats">
      <mat-icon style="color: white;">approval</mat-icon>
    </a>

    <a mat-icon-button routerLink="/competences">
      <mat-icon style="color: white;">build</mat-icon>
    </a>

    <a mat-icon-button routerLink="/formations">
      <mat-icon style="color: white;">school</mat-icon>
    </a>

    <a mat-icon-button routerLink="/experiences">
      <mat-icon style="color: white;">science</mat-icon>
    </a>

    <a mat-icon-button routerLink="/partners">
      <mat-icon style="color: white;">handshake</mat-icon>
    </a>
  <!--   <app-pdf-download></app-pdf-download> -->
   
  </mat-toolbar>

