<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon"><mat-icon style="color: rgb(222, 23, 23);">home</mat-icon></button>
    <button mat-icon-button class="example-icon"><mat-icon style="color: white;">approval</mat-icon></button>
    <button mat-icon-button class="example-icon"><mat-icon style="color: white;">build</mat-icon></button>
    <button mat-icon-button class="example-icon"><mat-icon style="color: white;">school</mat-icon></button>
    <button mat-icon-button class="example-icon"><mat-icon style="color: white;">science</mat-icon></button>
    <button mat-icon-button class="example-icon"><mat-icon style="color: rgb(214, 12, 12);">handshake</mat-icon></button>
  </mat-toolbar>
</p>

