
.header {
  position: fixed;
  left: 0;
  top: 0;
  height : 10%; 
  min-height: 10%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background: yellowgreen;
}
/*
.toolbarm-spacer {
    flex: 1 1 auto;
  }*/

  

  .mat-toolbar{
    /*height : 5%; 
    min-height: 5%;*/
    width: 100%;
    display: -ms-flexbox;
    background: rgb(141, 170, 228);
    justify-content: center;
    background: linear-gradient(to bottom, #45ADA8,#45ADA8,#4ac0a0, #86e6c8, #baf7e0);
  } 


  ::ng-deep .mat-mdc-menu-content {
    background: #45ADA8 !important;
  } 
  

  /*mat-mdc-menu-item mat-mdc-focus-indicator*/
  /*
  ::ng-deep .mat-mdc-menu-panel {
    background:gray;
    padding: 0;
    margin: 0;
  } 

  

  ::ng-deep .mat-menu{
    background: red;
    margin: 0;
  } 

  

  ::ng-deep .mat-mdc-menu-item  {
    background: transparent;
  } 

  ::ng-deep .mat-menu-item {
    color: blue !important;
  }
  button.mat-menu-item{
      background-color: white;
  }
  button.mat-menu-item:hover {
      background-color: blue;
      color: #fff !important;
  }

*/


