<section id="partners">
    <div class="ribbon bottom">Entreprises fréquentées</div> 
<div class="partner">
    <div class="rebondp">
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/totalt.jpg"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/edf.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/speedy.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/altice.png"></span>
 <!--
    </div>
    <div class="rebondp">
        -->       
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/sfr.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/ifdis.webp"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/enerdis.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/utbm.png"></span>
    
    <!--</div>
    <div class="rebondp">
    -->       
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/poclaint.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/impactwebt.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/speedyf.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/gcn.png"></span>
    </div>

</div>
</section>