<section id="partners">
    <div class="ribbon bottom">Entreprises fréquentées</div>
    <div class="rebond">
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/altice.png"></span>
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/sfr.jpg"></span>
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/edf.png"></span>
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/speedy.png"></span>
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/ifdis.png"></span>
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/impactweb.png"></span>
    </div>

    <div class="rebond">
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/speedy.jpg"></span>
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/utbm.png"></span>
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/poclain.jpg"></span>
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/total.png"></span>
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/enerdis.png"></span>
        <span class="item"><img class="box partner-logo float--left" src="./assets/images/gc.png"></span>
    </div>



</section>