

@import url(../../assets/styles/tablestyle.css);

.partner-logo {
    max-width: 150px;
   height: 70px;
}
.partner {
    margin-bottom: 7%;
}
.partner-logo {
    margin-left: 15px;
}

.box {
    padding: 12px;
}

/*.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}*/
/*
.float--left {
    float: left;
}

.float--right {
    float: right;
}
*/

/*-------------------------------*/

.rebondp {
        display: flex;
       flex-wrap: wrap;
       align-items: center;
    justify-content: center;
  margin-left: auto;
  margin-right: auto;
    width: 100%;
    height: 100%;
   /* font: normal bold 6rem "Product Sans", sans-serif;
    white-space: nowrap;*/
}

/*.rebond img {
    height: 70px;
    width: auto;
}
*/

.itemp {
    -webkit-animation: rebond 2s cubic-bezier(0.05, 0, 0.2, 1) infinite alternate;
    animation: rebond 2s cubic-bezier(0.05, 0, 0.2, 1) infinite alternate;
    /*display: inline-block;*/
    /*transform: translate3d(0, 0, 0);*/
    /*margin-top: 1em;*/
    /*text-shadow: rgba(0, 0, 0, 0.4) 0 0 0.05em;*/
    /*font: normal bold 6rem "Product Sans", sans-serif;*/
}


.itemp:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.itemp:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.itemp:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.itemp:nth-child(4) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.itemp:nth-child(5) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.itemp:nth-child(6) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}


@-webkit-keyframes rebond {
    0% {
        transform: translate3d(0, 0, 0);
        text-shadow: rgba(0, 0, 0, 0.4) 0 0 0.05em;
    }

    100% {
        transform: translate3d(1em, 0, 0);
        text-shadow: rgba(0, 0, 0, 0.4) 0 1em 0.35em;
    }
}

@keyframes rebond {
    0% {
        transform: translate3d(0, 0, 0);
        text-shadow: rgba(0, 0, 0, 0.4) 0 0 0.05em;
    }

    100% {
        transform: translate3d(1.3em, 0, 0);
        text-shadow: rgba(0, 0, 0, 0.4) 0 1em 0.35em;
    }
}

