

@import '@angular/material/prebuilt-themes/indigo-pink';
/*@import '@angular/material/prebuilt-themes/pink-bluegrey';
@import '@angular/material/prebuilt-themes/deeppurple-amber';
@import '@angular/material/prebuilt-themes/indigo-pink';
@import '@angular/material/prebuilt-themes/purple-green';*/


  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;

    margin: 0;
   /*padding: 30px;*/
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 0;
   padding-bottom: 0;



    background-color: #87CEEB; 
    color: #F5F5DC; 
  }
  
  html, body {
    height: 100%;
  }
 
