table.mat-elevation-z8 th.mat-header-cell {
    background: linear-gradient(to bottom, black,#49d3af, #4ebd9a,silver);
    color:  white;
    font-weight: bold;
  }

 table.mat-elevation-z8 tr.mat-header-row {
    color: white;
  }
 

table.mat-elevation-z8 td.mat-header-cell {
    color: white;
  }

 .mat-mdc-row:nth-child(even) {
    background-color: white; 
  }
  
  .mat-mdc-row:nth-child(odd) {
    background-color: silver; 
  }





  


/*Title*/

.ribbon {
    /*margin: 3%;*/
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  .ribbon {
    --r: .8em; /* control the cutout */
    /*border-block: .5em solid #0000;*/
    border-block: 0.2em solid #baf7e0;
    padding-inline: .5em calc(var(--r) + .25em);
    line-height: 1.8;
    clip-path: polygon(100% 0,0 0,0 100%,100% 100%,calc(100% - var(--r)) calc(100% - .25em),100% 50%,calc(100% - var(--r)) .25em);
    background: radial-gradient(.2em 50% at left,#000a,#0000) border-box, #45ADA8 padding-box; 
    /*width: fit-content;*/
  }






  