<section id="home">
    <div class="wave bg">
        <div class="home">
        <div class="homecontainer">
            <div class="homeavatar">
                <a href="https://www.linkedin.com/">
                    <img src="./assets/images/nour.png" alt="nhay" />
                    
                </a>
            </div>
            <h1><span>Data ingénieur</span></h1>
<!--            <h1><span>Développeur expérimenté</span></h1>-->
            <div class="nhay-wrapper">
                <div class="noisenour" data-noisenour="Développeur Expérimenté">Développeur Expérimenté</div>
                <!--<div class="nhay" data-nhay="Développeur Expérimenté">Développeur Expérimenté</div>-->
             </div>
             
        <!--<span><h1 class="nebulablue">Développeur</h1><h1 class="nebulaorange">expérimenté</h1></span>-->
            <div class="waviy">
                <span style="--i:1">N</span><span style="--i:2">O</span><span style="--i:3">u</span><span style="--i:4">r</span>
                <span style="--i:5">e</span><span style="--i:6">d</span><span style="--i:7">d</span><span style="--i:8">i</span>
                <span style="--i:9">n</span><span style="--i:10">e</span><span style="--i:11">&nbsp;</span><span style="--i:12">H</span>
                <span style="--i:13">a</span><span style="--i:14">y</span><span style="--i:15">a</span><span style="--i:16">r</span>
                <span style="--i:17">i</span>
            </div>
        
        </div>
        </div>
    </div>


    <div class="rideau">
        <div class="ridcontent">
          <h1>Cher visiteur,</h1>
          <h3>
            Je suis Noureddine Hayari, data engineer et développeur expérimenté. J'ai plus de 5 ans d'expérience dans le domaine des données et plus de 9 ans d'expérience dans le développement.
            Je suis passionné par l'utilisation des données et de la technologie pour résoudre des problèmes complexes. J'ai participé à des projets portant sur la collecte, le traitement et l'analyse des données, effectué plus de missions dans le développement d'applications et contribué à des sujets en recherche opérationnelle et optimisation.
            Je suis un professionnel polyvalent et adaptable, capable de travailler sur une variété de projets et de technologies.
            
            Dans mon expérience de footballeur, j'ai appris à travailler en équipe, à communiquer efficacement et à m'adapter à des situations changeantes.
            comme le remplacement d'un coéquipier blessé ou l'adaptation à un nouveau système de jeu.</h3>
        </div>
        <div class="flap"></div>
      </div>



</section>