<section id="home1">
    <div class="wave bg">
        <div class="home">
        <div class="homecontainer">
            <div class="homeavatar">
                <a href="https://www.linkedin.com/">
                    <img src="./assets/images/nour.png" alt="nhay" />
                    
                </a>
            </div>
            <h1><span>Data ingénieur</span></h1>
            <h1><span>Développeur expérimenté</span></h1>
            <div class="waviy">
                <span style="--i:1">N</span><span style="--i:2">O</span><span style="--i:3">u</span><span style="--i:4">r</span>
                <span style="--i:5">e</span><span style="--i:6">d</span><span style="--i:7">d</span><span style="--i:8">i</span>
                <span style="--i:9">n</span><span style="--i:10">e</span><span style="--i:11">&nbsp;</span><span style="--i:12">H</span>
                <span style="--i:13">a</span><span style="--i:14">y</span><span style="--i:15">a</span><span style="--i:16">r</span>
                <span style="--i:17">i</span>
            </div>
        
        </div>
        </div>
    </div>
</section>