.home {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

.bg {
    background-image: url("../../assets/images/nebula.jpg") !important;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.nebulaorange {
    text-transform: uppercase;
    background-image: linear-gradient(
      -250deg,
       #8b2309 0%,
       #ea540f 25%,
       #3d180f 50%,
       #da752f 75%,
       #ffa023 100%
      );
      background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    font-size: 50px;
  }
  
  .nebulablue {
    text-transform: uppercase;
    background-image: linear-gradient(
      -250deg,
      #0879a8 0%,
      #304755 25%,
      #218e95	50%,
      #59bb86 100%	
    );
      background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    font-size: 50px;
  }
  
  
  @keyframes textclip {
    to {
      background-position: -200% center;
    }
  }


@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.homecontainer {
    width: 100%;
    height: 100%;
    /*height: 60%;*/

    display: grid;
    justify-content: center;
    align-items: center;
}

.homeavatar {
    margin-top: 6%;
    max-width: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    transform: translatey(0px);
    animation: float 7s ease-in-out infinite;
 }

.homeavatar img {
    width: 100%;
    height: auto;
}

.homecontent {
    width: 100%;
    max-width: 600px;
    padding: 0;
    box-sizing: border-box;
 }


/*  wave  */

.wave {
    display: grid;
    place-content: center;
    /*min-height: 100vh;*/
    height: 60%;
    min-height: 60%;
    margin: 0;
   /* background: #cb0b0b;*/
   
}

.wave h1 span {
    --c1: #00FFFF;
    --c2: white;
    
    --_p: 93% 83.5% at;
    --_g1: radial-gradient(var(--_p) bottom, var(--c1) 79.5%, #0000 80%) no-repeat;
    --_g2: radial-gradient(var(--_p) top, #0000 79.5%, var(--c1) 80%) no-repeat;
    --_g3: radial-gradient(var(--_p) bottom, var(--c2) 79.5%, #0000 80%) no-repeat;
    --_g4: radial-gradient(var(--_p) top, #0000 79.5%, var(--c2) 80%) no-repeat;
    background: var(--_g1), var(--_g2), var(--_g1), var(--_g2), var(--_g3),
        var(--_g4), var(--_g3), var(--_g4);
    -webkit-background-clip: text;
    background-clip: text;
    color: #0000;
    -webkit-text-stroke: 0.1rem var(--c1);
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    animation-name: skfs, mkfs;
    animation-duration: 2s, 3s;
    animation-iteration-count: infinite;
    animation-timing-function: alternate, linear;

    /*animation: skfs 2s infinite alternate, mkfs 3s infinite linear;*/
}

@keyframes mkfs {
    0% {
        background-position: -200% 100%, -100% 100%, 0% 100%, 100% 100%, 0% 100%,
            100% 100%, 200% 100%, 300% 100%;
    }

    100% {
        background-position: 0% 100%, 100% 100%, 200% 100%, 300% 100%, -200% 100%,
            -100% 100%, 0% 100%, 100% 100%;
    }
}

@keyframes skfs {
    0% {
        background-size: 50.5% 60%, 50.5% 60%, 50.5% 60%, 50.5% 60%, 50.5% 90%,
            50.5% 90%, 50.5% 90%, 50.5% 90%;
    }

    33% {
        background-size: 50.5% 70%, 50.5% 70%, 50.5% 70%, 50.5% 70%, 50.5% 75%,
            50.5% 75%, 50.5% 75%, 50.5% 75%;
    }

    66% {
        background-size: 50.5% 55%, 50.5% 55%, 50.5% 55%, 50.5% 55%, 50.5% 80%,
            50.5% 80%, 50.5% 80%, 50.5% 80%;
    }

    100% {
        background-size: 50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 95%,
            50.5% 95%, 50.5% 95%, 50.5% 95%;
    }
}

.wave h1 {
    font-family: system-ui, sans-serif;
    font-size: 6vw;
    /*max-width: 800px;*/
    text-align: center;
    font-weight:bold; 
}


/* text turn*/


.waviy {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 4vw;
    color: #ffffff;
    text-transform: uppercase;
    animation: flip 6s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}



/************* developer expert******************/
.nhay-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color: #222;*/
 }
 
 .nhay {
    position: relative;
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.2;
    color: #00FFFF;
    letter-spacing: 4px;
    animation: shift 4s ease-in-out infinite alternate;
    z-index: 1;
 }
 
 .nhay:before {
    content: attr(data-nhay);
    position: absolute;
    top: 0;
    left: -2px;
    text-shadow: -1px 0 #000000;
    width: 100%;
    color:#00FFFF;
    /*background-color: #fff;*/
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
 }
 
 .nhay:after {
    content: attr(data-nhay);
    position: absolute;
    top: 0;
    left: 2px;
    text-shadow: 1px 0 #000000;
    width: 100%;
    color: #00FFFF;
    /*background-color: #222;*/
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
 }
 
 @keyframes noise-before {
    0% {
       clip: rect(61px, 9999px, 52px, 0);
    }
 
    5% {
       clip: rect(33px, 9999px, 144px, 0);
    }
 
    10% {
       clip: rect(121px, 9999px, 115px, 0);
    }
 
    15% {
       clip: rect(144px, 9999px, 162px, 0);
    }
 
    20% {
       clip: rect(62px, 9999px, 180px, 0);
    }
 
    25% {
       clip: rect(34px, 9999px, 42px, 0);
    }
 
    30% {
       clip: rect(147px, 9999px, 179px, 0);
    }
 
    35% {
       clip: rect(99px, 9999px, 63px, 0);
    }
 
    40% {
       clip: rect(188px, 9999px, 122px, 0);
    }
 
    45% {
       clip: rect(154px, 9999px, 14px, 0);
    }
 
    50% {
       clip: rect(63px, 9999px, 37px, 0);
    }
 
    55% {
       clip: rect(161px, 9999px, 147px, 0);
    }
 
    60% {
       clip: rect(109px, 9999px, 175px, 0);
    }
 
    65% {
       clip: rect(157px, 9999px, 88px, 0);
    }
 
    70% {
       clip: rect(173px, 9999px, 131px, 0);
    }
 
    75% {
       clip: rect(62px, 9999px, 70px, 0);
    }
 
    80% {
       clip: rect(24px, 9999px, 153px, 0);
    }
 
    85% {
       clip: rect(138px, 9999px, 40px, 0);
    }
 
    90% {
       clip: rect(79px, 9999px, 136px, 0);
    }
 
    95% {
       clip: rect(25px, 9999px, 34px, 0);
    }
 
    100% {
       clip: rect(173px, 9999px, 166px, 0);
    }
 }
 
 @keyframes noise-after {
    0% {
       clip: rect(26px, 9999px, 33px, 0);
    }
 
    5% {
       clip: rect(140px, 9999px, 198px, 0);
    }
 
    10% {
       clip: rect(184px, 9999px, 89px, 0);
    }
 
    15% {
       clip: rect(121px, 9999px, 6px, 0);
    }
 
    20% {
       clip: rect(181px, 9999px, 99px, 0);
    }
 
    25% {
       clip: rect(154px, 9999px, 133px, 0);
    }
 
    30% {
       clip: rect(134px, 9999px, 169px, 0);
    }
 
    35% {
       clip: rect(26px, 9999px, 187px, 0);
    }
 
    40% {
       clip: rect(147px, 9999px, 137px, 0);
    }
 
    45% {
       clip: rect(31px, 9999px, 52px, 0);
    }
 
    50% {
       clip: rect(191px, 9999px, 109px, 0);
    }
 
    55% {
       clip: rect(74px, 9999px, 54px, 0);
    }
 
    60% {
       clip: rect(145px, 9999px, 75px, 0);
    }
 
    65% {
       clip: rect(153px, 9999px, 198px, 0);
    }
 
    70% {
       clip: rect(99px, 9999px, 136px, 0);
    }
 
    75% {
       clip: rect(118px, 9999px, 192px, 0);
    }
 
    80% {
       clip: rect(1px, 9999px, 83px, 0);
    }
 
    85% {
       clip: rect(145px, 9999px, 98px, 0);
    }
 
    90% {
       clip: rect(121px, 9999px, 154px, 0);
    }
 
    95% {
       clip: rect(156px, 9999px, 44px, 0);
    }
 
    100% {
       clip: rect(67px, 9999px, 122px, 0);
    }
 }
 
 @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
       transform: skewX(0deg);
    }
 
    41% {
       transform: skewX(10deg);
    }
 
    42% {
       transform: skewX(-10deg);
    }
 
    59% {
       transform: skewX(40deg) skewY(10deg);
    }
 
    60% {
       transform: skewX(-40deg) skewY(-10deg);
    }
 
    63% {
       transform: skewX(10deg) skewY(-5deg);
    }
 
    70% {
       transform: skewX(-50deg) skewY(-20deg);
    }
 
    71% {
       transform: skewX(10deg) skewY(-10deg);
    }
 }
 
 
 .noisenour {
    position: relative;
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.2;
    color: #00FFFF;
    letter-spacing: 4px;
    z-index: 1;
 }
 
 .noisenour:before {
    content: attr(data-noisenour);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: #00FFFF;
    /*background-color: #222;*/
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
 }
 
 .noisenour:after {
    content: attr(data-noisenour);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    color: #00FFFF;
    /*background-color: #222;*/
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
 }
 
 @keyframes noise-before {
    0% {
       clip: rect(61px, 9999px, 52px, 0);
    }
 
    5% {
       clip: rect(33px, 9999px, 144px, 0);
    }
 
    10% {
       clip: rect(121px, 9999px, 115px, 0);
    }
 
    15% {
       clip: rect(144px, 9999px, 162px, 0);
    }
 
    20% {
       clip: rect(62px, 9999px, 180px, 0);
    }
 
    25% {
       clip: rect(34px, 9999px, 42px, 0);
    }
 
    30% {
       clip: rect(147px, 9999px, 179px, 0);
    }
 
    35% {
       clip: rect(99px, 9999px, 63px, 0);
    }
 
    40% {
       clip: rect(188px, 9999px, 122px, 0);
    }
 
    45% {
       clip: rect(154px, 9999px, 14px, 0);
    }
 
    50% {
       clip: rect(63px, 9999px, 37px, 0);
    }
 
    55% {
       clip: rect(161px, 9999px, 147px, 0);
    }
 
    60% {
       clip: rect(109px, 9999px, 175px, 0);
    }
 
    65% {
       clip: rect(157px, 9999px, 88px, 0);
    }
 
    70% {
       clip: rect(173px, 9999px, 131px, 0);
    }
 
    75% {
       clip: rect(62px, 9999px, 70px, 0);
    }
 
    80% {
       clip: rect(24px, 9999px, 153px, 0);
    }
 
    85% {
       clip: rect(138px, 9999px, 40px, 0);
    }
 
    90% {
       clip: rect(79px, 9999px, 136px, 0);
    }
 
    95% {
       clip: rect(25px, 9999px, 34px, 0);
    }
 
    100% {
       clip: rect(173px, 9999px, 166px, 0);
    }
 }
 
 @keyframes noise-after {
    0% {
       clip: rect(26px, 9999px, 33px, 0);
    }
 
    5% {
       clip: rect(140px, 9999px, 198px, 0);
    }
 
    10% {
       clip: rect(184px, 9999px, 89px, 0);
    }
 
    15% {
       clip: rect(121px, 9999px, 6px, 0);
    }
 
    20% {
       clip: rect(181px, 9999px, 99px, 0);
    }
 
    25% {
       clip: rect(154px, 9999px, 133px, 0);
    }
 
    30% {
       clip: rect(134px, 9999px, 169px, 0);
    }
 
    35% {
       clip: rect(26px, 9999px, 187px, 0);
    }
 
    40% {
       clip: rect(147px, 9999px, 137px, 0);
    }
 
    45% {
       clip: rect(31px, 9999px, 52px, 0);
    }
 
    50% {
       clip: rect(191px, 9999px, 109px, 0);
    }
 
    55% {
       clip: rect(74px, 9999px, 54px, 0);
    }
 
    60% {
       clip: rect(145px, 9999px, 75px, 0);
    }
 
    65% {
       clip: rect(153px, 9999px, 198px, 0);
    }
 
    70% {
       clip: rect(99px, 9999px, 136px, 0);
    }
 
    75% {
       clip: rect(118px, 9999px, 192px, 0);
    }
 
    80% {
       clip: rect(1px, 9999px, 83px, 0);
    }
 
    85% {
       clip: rect(145px, 9999px, 98px, 0);
    }
 
    90% {
       clip: rect(121px, 9999px, 154px, 0);
    }
 
    95% {
       clip: rect(156px, 9999px, 44px, 0);
    }
 
    100% {
       clip: rect(67px, 9999px, 122px, 0);
    }
 }


 /* rideau */

.rideau {
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0%;

    height: 40%;
    min-height: 40%;
    width: 95%;
    min-width: 95%;
    background: #87CEEB;
    overflow: hidden;
    /*border-radius: 20px;*/
    cursor: pointer;
    /*box-shadow: 0 0 20px 8px #d0d0d0;*/
  }
  
  .ridcontent {
    position: absolute;
    text-align: justify;
    color: black;
    font-family: "Merriweather", serif;
  }
  
  h1 {
    font-weight: 900;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  h3 {
    font-weight: 300;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  .flap {
    width: 100%;
    height: 100%;
  }
  
  .flap::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background:  #87CEEB;
    background-position: 100px;
    background-repeat: no-repeat;
    transition: 1s;
  }
  
  .flap::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    right: 0;
    background:  #87CEEB;
    background-position: -200px;
    background-repeat: no-repeat;
    transition: 1s;
  }
  
  .rideau:hover .flap::after,.rideau:active .flap::after  {
    transform: translatex(300px);
  }
   
  
  .rideau:hover .flap::before,.rideau:active .flap::before {
    transform: translatex(-300px);
  }
  